{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}МОНК{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/base_footer.css' %}" rel="stylesheet">
        {% block links %} {% endblock %}
    </head>

    <body>
          <!-- Прелоадер -->
        <div id="loader">
            <img src="{% static 'img/Ресурс_1.png' %}" width="30%">

        </div>

        <div id="header">
            <div class="navigation">
                <div id="menu">
                  <div id="menu-bar" onclick="menuOnClick()">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                  </div>
                  <nav class="nav" id="nav">
                    <ul>
                      <li><a href="/">Женское</a></li>
                      <li><a href="#">Мужское</a></li>
                      <li><a href="#">Аксессуары</a></li>
                    </ul>
                  </nav>
                </div>

                <div class="menu-bg" id="menu-bg"></div>
                <div class="elem">
                    <a href="/О_нас" class="text_header">О нас</a>
                </div>
                <div class="elem">
                    <a href="#" class="text_header">Доставка</a>
                </div>
                <div class="elem">
                    <a href="#" class="text_header">Контакты</a>
                </div>
                <div class="elem">
                    <a href="#" class="text_header">Профиль</a>
                </div>
            </div>
            <a href="/Модная_Одежда_Наилучшего_Качества" class="logo">
                <img width="40px" src="{% static 'img/logos/Монк центр лого светл.png' %}">
                МОНК
                <img width="40px" src="{% static 'img/logos/Монк центр лого светл.png' %}">
            </a>
            <div id="subheader">
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                   <a href="{% url 'cart:cart_detail' %}" class="cart_mini">
                        <img width="30px" src=" {% static 'img/logos/telezhka_13biymd7nuu6_32.png' %}" alt="">
                        {{ total_items }} шт, {{ cart.get_total_price }}₽
                   </a>

            {% else %}
                <div class="cart_mini">
                   <a href="{% url 'cart:cart_detail' %}">
                        <img width="30px" src=" {% static 'img/logos/telezhka_13biymd7nuu6_32.png' %}" alt="">
                   </a>
                </div>
            {% endif %}
            {% endwith %}
            </div>
        </div>

        <div id="content" class="content">
        {% block content %}{% endblock %}
        </div>
        <footer>
            <div class="fot">
                <div class="col_fot">
                    <ul>
                        <li>
                            <div class="copyright">©2024 МОНК</div>
                        </li>
                        <li>
                            <div class="logo-wrapper">
                                <a href="/">
                                    <img width="150px" src=" {% static 'img/logos/logo_monk_new.png' %}" alt="МОНК">
                                </a>
                            </div>
                        </li>

                        <li>
                            <a href="/Политика_конфиденциальности"><p>Политика конфиденциальности</p></a>
                        </li>
                        <li>
                            <a href="/Согласие_на_обработку_данных"><p>Согласие на обработку персональных данных</p></a>
                        </li>

                        <li>
                            <div class="footer_site-info">
                                <p>Используя данный сайт, вы автоматически принимаете&nbsp;условия пользовательского соглашения&nbsp;и соглашаетесь с политикой конфиденциальности.<br>
                                    Указанные на сайте цены не являются публичной офертой и могут быть изменены в любое время.</p>
                            </div>
                        </li>

                    </ul>

                </div>
                <div class="col_fot">

                    <ul>
                        <li><h4>О магазине</h4></li>
                        <li><a href="/Модная_Одежда_Наилучшего_Качества"><p>Главная</p></a></li>
                        <li><a href="/О_нас"><p>О нас</p></a></li>
                        <li><a href="#"><p>Доставка</p></a></li>
                        <li><a href="#"><p>Контакты</p></a></li>
                        <li><a href="#"><p>Профиль</p></a></li>
                    </ul>
                </div>
                <div class="col_fot">
                    <ul>
                        <li><h4>Каталог</h4></li>
                        <li><a href="/"><p>Женское</p></a></li>
                        <li><a href="#"><p>Мужское</p></a></li>
                        <li><a href="#"><p>Унисекс</p></a></li>
                        <li><a href="#"><p>Аксессуары</p></a></li>
                        <li><a href="#"><p>DTF-печать</p></a></li>
                    </ul>
                </div>
                <div class="col_fot">
                    <ul>
                        <li><h4>Свяжитесь с нами</h4></li>
                        <li><p>Адрес</p></li>
                        <li><p>Почта</p></li>
                        <li><p>Телефон</p></li>
                        <li><p>Соц. сети</p></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
<script>
    function menuOnClick() {
      document.getElementById("menu-bar").classList.toggle("change");
      document.getElementById("nav").classList.toggle("change");
      document.getElementById("menu-bg").classList.toggle("change-bg");
    }
</script>
<script type="text/javascript">
    var loader = document.getElementById("loader");
    window.addEventListener("load",function(){
        loader.style.height="100px";
        loader.style.width="100px";
        loader.style.borderRadius="50%";
        loader.style.visibility="hidden";
    });
  </script>
</html>
