{% extends "shop/base2.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}
{% block links %}
<link href="{% static 'css/card_style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="sidebar">
    <h3>Категория</h3>
    <ul>
        <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url 'shop:product_list' %}">Все</a>
        </li>
        {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected" {% endif %}>
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
<h1>{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
    <section class="cards">
        <div class="container container_cards">
            {% for product in products %}
<!--            <div class="item">-->
<!--                <a href="{{ product.get_absolute_url }}">-->
<!--                    <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}">-->
<!--                </a>-->
<!--                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>-->
<!--                <br>-->
<!--            {{ product.price }} ₽-->
<!--            </div>-->
            <div class="container_list item">
                <div class="wrapper_list ">
                   <div class="banner-image">
                       <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}">
                   </div>
                   <h1> {{ product.name }}<br>  </h1>
                   <p> Цвет: {{ product.color }} <br/>
                       Пол: {{ product.gender }} <br/>
                     {{ product.price }} ₽</p>
                </div>
                <div class="button-wrapper">
                    <button class="btn outline"><a href="{{ product.get_absolute_url }}">ДЕТАЛИ</a></button>
                    <button class="btn fill cart_form_btn">

                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input type="submit" value="В КОРЗИНУ">
                        </form>
                    </button>
                </div>
            </div>
            {% endfor %}
            </div>
    </section>
</div>
{% endblock %}